<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hello World of Machine Learning</title>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>


  <!-- ****************************** Nav Bar ****************************** -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hello World of Machine Learning</a>
      </div>
    </div>
  </nav>
  <!-- ****************************** Intro ****************************** -->
  <p>&nbsp</p>
  <p>&nbsp</p>
  <div class = 'col-md-6 col-md-offset-3 intro'>
    <row>
      <p>Welcome to Hello World of Machine Learning. This website will demonstrate to you in the most foundamental form the process and meaning of neural network training and decision making. Please enjoy, thanks.
      </p>
    </row>
  </div>

  <!-- ****************************** Plots ****************************** -->
  <div class="container">
    <div class="row">
      <row>
        <div class="col-md-5 col-md-offset-1 plot-container">
          <canvas id="plot1" height="175" style="border:1px solid #d3d3d3;">
          Your browser does not support the HTML5 canvas tag.</canvas>
        </div>
        <div class="col-md-5 plot-container">
          <canvas id="plot2" height="175" style="border:1px solid #d3d3d3;">
          Your browser does not support the HTML5 canvas tag.</canvas>
        </div>
      </row>
    </div>
  </div>



  <p>&nbsp</p>
    <!-- ****************************** Inputs ****************************** -->
  <div class = "container">
  <div class="input col-md-1 col-md-offset-3">
    <row>
      <input type="text" class="form-control" name="weight_a" id="x1y1" placeholder="x1,y1">
    </row>
  </div>
  <div class="input col-md-1">
    <row>
      <input type="text" class="form-control" name="weight_a" id="x2y2" placeholder="x2,y2">
    </row>
  </div>
  <div class="input col-md-1">
    <row>
      <input type="text" class="form-control" name="weight_a" id="dataSize" placeholder="Data Size">
    </row>
  </div>
  <div class="button col-md-1">
    <row>
      <button onclick="generateData()">Generate Data</button>
    </row>
  </div>
  <div class="button col-md-1">
    <row>
      <button onclick="TrainOne()">Train One</button>
    </row>
  </div>
  <div class="button col-md-1">
    <row>
      <button onclick="TrainAll()">Train All</button>
    </row>
  </div>
</div>
    <p>&nbsp</p>

    <!-- ****************************** Table ****************************** -->

  <div class="col-md-6 col-md-offset-3">
    <table class="table table-result">

      <tbody>
        <tr class = ''>
          <th scope="row">[x,y]</th>
          <td id= "xy1">1</td>
          <td id='xy2'>1</td>
          <td id='xy3'>1</td>
          <td id='xy4'>1</td>
          <td id='xy5'>1</td>
        </tr>
        <tr class = ''>
          <th scope="row">Preiction</th>
          <td id='p1'>2</td>
          <td id='p2'>2</td>
          <td id='p3'>2</td>
          <td id='p4'>2</td>
          <td id='p5'>2</td>
        </tr>
        <tr class = ''>
          <th scope="row">Error</th>
          <td id='e1'>4</td>
          <td id='e2'>4</td>
          <td id='e3'>4</td>
          <td id='e4'>4</td>
          <td id='e5'>4</td>
        </tr>
        <tr class = ''>
          <th scope="row">Neuron 1</th>
          <td id='n11'>5</td>
          <td id='n12'>5</td>
          <td id='n13'>5</td>
          <td id='n14'>5</td>
          <td id='n15'>5</td>
        </tr>
        <tr class = ''>
          <th scope="row">Neuron 2</th>
          <td id='n21'>6</td>
          <td id='n22'>6</td>
          <td id='n23'>6</td>
          <td id='n24'>6</td>
          <td id='n25'>6</td>
        </tr>
      </tbody>
    </table>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="/static/js/logic.js"></script>

</body>
</html>
